@import "variables";
@import "mixins";

.onescroll {
}

.onescroll-wrapper {
	position: relative;
	overflow: hidden;
}

.onescroll-rail-v, .onescroll-bar-v,
.onescroll-rail-h, .onescroll-bar-h {
	position: absolute;
	display: block;
}

.onescroll-rail-v-inner, .onescroll-rail-h-inner {
	background: @onescroll-rail-background;
	opacity: .4;
	border-radius: 3px;
}

.onescroll-rail-v, .onescroll-rail-h {
	.box-sizing(border-box);
	z-index: @onescroll-rail-z-index;
}

.onescroll-bar-v, .onescroll-bar-h {
	border-radius: 3px;
	background: @onescroll-bar-background;
	opacity: .4;
	z-index: @onescroll-bar-z-index;
}

.onescroll-rail-v {
	padding-top: @onescroll-rail-padding;
	padding-bottom: @onescroll-rail-padding;
	height: 100%;
	top: 0;
}
.onescroll-rail-v-inner {
	height: 100%;
	width: @onescroll-rail-thickness;
}

.onescroll-bar-v {
	width: @onescroll-bar-thickness;
	height: 30px;
	top: 0;
}

.onescroll-rail-h {
	padding-left: @onescroll-rail-padding;
	padding-right: @onescroll-rail-padding;
	width: 100%;
	left: 0;
}
.onescroll-rail-h-inner {
	width: 100%;
	height: @onescroll-rail-thickness;
}

.onescroll-bar-h {
	width: 30px;
	height: @onescroll-bar-thickness;
	left: 0;
}